<head>
    <meta charset="UTF-8">
    <title>Delete City</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        table th, td {text-align: center}
        .container {
            background-color:#cbccce;
            padding-top: 50px;
            padding-bottom: 100px;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
</head>
<body class="container" style="margin: 0px auto;">
<h2 style="text-align: center">Delete city?</h2>
<table class="table table-bordered" style="margin: 0px auto;">
    <form th:action="@{/delete}" th:object="${city}" method="post" >
        <input th:type="hidden" name="id" th:field="*{id}">
        <h2 style="text-align: center" th:text="${city.name}"></h2>
        <tr>
            <td><button><a href="/home">Cancel</a></button></td>
            <td><input type="submit" value="Delete"></td>
        </tr>

    </form>
</table>
</body>
</html>