<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Player</title>
</head>
<body>
<h1>Edit city</h1>
<p>
    <a href="/home">City list</a>
</p>
<!--<th:block th:if="${message}">-->
<!--    <p th:text="${message}"></p>-->
<!--</th:block>-->
<form th:action="@{/edit}" th:object="${city}" method="post" enctype="multipart/form-data">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>

        <tr>
            <td> Thanh Pho:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Quoc GIa:</td>
            <td>
                <select name="quocGia">
                    <option
                            th:each="p : ${datnuoc}" th:value="${p.id}" th:text="${p.name}"
                            th:selected="(${city.quocGia}) and (${p.id} == *{quocGia.id})"></option>

                </select>
            </td>
        </tr>
        <tr>
            <td> Dien Tich:</td>
            <td><input type="text" th:field="*{dientich}"/></td>
        </tr>
        <tr>
            <td>Dan so:</td>
            <td><input type="text" th:field="*{danso}"/></td>
        </tr>
        <tr>
            <td>JDP:</td>
            <td><input type="text" th:field="*{jdp}"/></td>
        </tr>
        <tr>
            <td>Mo TA:</td>
            <td><input type="text" th:field="*{mota}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update "></td>
        </tr>
    </table>
</form>
</body>
</html>